table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.actions {
  width: 400px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.exportBtn {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  background: black;
  color: #dddddd;
}
