<p>export-as works!</p>

<table id="orderList">
  <tr>
    <th>Order ID</th>
    <th>Username</th>
    <th>Sub Time</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>Total Price</th>
    <th>Last Notification Time</th>
    <th>Completion Time</th>
  </tr>
  <tr>
    <td>2</td>
    <td>Charles W. Abeyta</td>
    <td>00:00:00</td>
    <td>new man</td>
    <td>2</td>
    <td>Completed</td>
    <td>100</td>
    <td>null</td>
    <td>null</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Pizza al Pesto</td>
    <td>00:00:00</td>
    <td>new man</td>
    <td>2</td>
    <td>Completed</td>
    <td>90</td>
    <td>null</td>
    <td>null</td>
  </tr>
  <tr>
    <td>3</td>
    <td>chola</td>
    <td>00:00:00</td>
    <td>new man</td>
    <td>2</td>
    <td>Completed</td>
    <td>400</td>
    <td>null</td>
    <td>72775</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Charles W. Abeyta</td>
    <td>00:00:00</td>
    <td>Pizza al Pesto</td>
    <td>2</td>
    <td>New</td>
    <td>30</td>
    <td>null</td>
    <td>null</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Charles W. Abeyta</td>
    <td>00:00:00</td>
    <td>new man</td>
    <td>2</td>
    <td>New</td>
    <td>30</td>
    <td>null</td>
    <td>null</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Charles W. Abeyta</td>
    <td>11:00:00</td>
    <td>chola</td>
    <td>2</td>
    <td>New</td>
    <td>180</td>
    <td>null</td>
    <td>null</td>
  </tr>
</table>
<div class="actions">
  <a class="exportBtn" (click)="exportAsExcel()">Export to Excel</a>
  <a class="exportBtn" (click)="exportAsPDF()">Export to PDF</a>
  <a class="exportBtn" (click)="exportAsCSV()">Export to CSV</a>
</div>
<br /><br /><br />
<a [routerLink]="['/features']">Back to features</a>
